.header {
	display: flex;
	align-items: center;
	background: #0087dc;
	padding: 12px;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	transition: top 0.3s ease-in-out;
	&__title {
		font-size: 18px;
		font-weight: bold;
		margin-right: 12px;
	}
	&__links {
		flex: 1;
		&__item {
			line-height: 36px;
			color: white;
			text-decoration: none;
			margin-right: 24px;
			font-weight: bold;
			font-size: 18px;
			&--active {
				text-shadow: 2px 2px 3px #434a54;
			}
			&:hover {
				color: white;
				text-shadow: 2px 2px 3px #434a54;
			}
		}
	}
	&--hide {
		top: -100px;
	}
}
